{% extends 'admintheme.html.twig' %}

{% block title %}New Brand{% endblock %}

{% block body %}
    <h1>Create Brand</h1>

    {{ include('brand/_form.html.twig') }}

    <a href="{{ path('app_brand_index') }}" class="btn btn-dark">Back to list</a>
{% endblock %}
