{# {% extends 'admintheme.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>Create new Category</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('app_category_index') }}">back to list</a>
{% endblock %} #}

{% extends 'admintheme.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Category</h1>

        <div class="category-form">
            {{ include('category/_form.html.twig') }}
        </div>

        <div class="back-link">
            <a href="{{ path('app_category_index') }}" class="btn btn-dark">Back to List</a>
        </div>
    </div>
{% endblock %}
